input,textarea {
font-family: var(--font-text);
transition: 0.2s ease;
}
input:hover,textarea:hover {
outline: 2px solid var(--color1);
}
input:focus,textarea:focus {
box-shadow: 0px 0px 2px 2px var(--color-text-on-light);
}
