input {
    padding: 10px;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color .15s ease-in-out;
    background: color --color1;
}